.menu-lateral {
    background-color: var(--cabeçalho-mobile);
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: -100vw;
    position: absolute;
    transition: .75s;
    width: 75vw;
}

.menu-lateral--ativo {
    left: 0;
    transition: .75s;
}

.menu-lateral__logo {
    align-self: center;
    padding: 18px;
    width: 118px;
}

.menu-lateral__link {
    align-items: center;
    color: var(--fonte-alternativa);
    display: flex;
    height: 64px;
    padding-left: 64px;
}

.menu-lateral__link:hover {
    border-left: 8px solid var(--fonte);
    color: var(--fonte);
    padding-left: 56px;
}

.menu-lateral__link::before {
    font-size: 24px;
    height: 24px;
    left: 24px;
    position: absolute;
    width: 50px;
}

.menu-lateral__link--inicio::before {
    content: "\e902";
}

.menu-lateral__link--vidios::before {
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
}

@media screen and (min-width: 768px) {
    .menu-lateral {
        grid-column: 1;
        grid-row: 1 / span 2;
        position: static;
        width: 200px;
    }
}